.invisible-at-first {
	display: none;
}

.dropdown-thin a {
    height: 25px;
    padding-top: 2px;
     min-width: 60px !important;
}

.form-horizontal .control-label{
    text-align: right;
}

.tweaked-margin {
    margin-left: 160px; // or whatever you need
}

.navbar-login
{
    width: 305px;
    padding: 10px;
    padding-bottom: 0px;
}

.navbar-login-session
{
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.icon-size
{
    font-size: 87px;
}